@media only screen and (max-width: 350px) {
  body {
    font-size:0.8rem;  }
}

#mapid {
    height: 100%;
    min-height: 400px;
}
.awesome-marker i {
    font-size: 36px;
    margin-top: 8px;
}
body {
    height: 100%;
    width: 100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.navbar-toggler {
    float: right;
}

.jumbotron {
    padding-top: 2rem;
}
#eeblextern {
     min-height: 110px;
 }
#eeblintern {
    min-height: 110px;
}
td {
    font-family: monospace;
}

.square {
    height: calc(100vh - 60px - 35px);
    border-radius: 25px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 760px) {
  .square {
      height: calc(50vh - 60px - 35px);
      border-radius: 25px;
      margin-bottom: 10px;
}
}


.bg-yellow {
    background: yellow;
}

.wrapper {
    height: calc(100vh - 56px - 30px);
}