{% extends 'base.html' %}
{% set active_page = "console" %}
{% block includes %}
    <!-- own -->
    <script type="text/javascript" src={{ url_for('static', filename='js/id_handler.js')}}></script>
    <link rel="stylesheet" href = {{ url_for('static', filename='css/style.css') }}/>
{% endblock %}

{% block content %}
    <div class="row px-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Message id</th>
                    <th>Message data</th>
                </tr>
            </thead>
            <tbody id="can_messages" >

            </tbody>
        </table>
    </div>
{% endblock %}
