{% extends 'base.html' %}
{% set active_page = "gui" %}
{% block content %}
    <div class="row px-2 h-100">
        <div class="col-lg-3">
            <div id="log" class="jumbotron">Location : NaN</div>
            <div id="eeblextern" class="jumbotron">
                <p>eebl_lat: NaN</p>
                <p>eebl_longitude: NaN</p>
                <p>eebl_speed: NaN</p>
            </div>
            <div id="eeblintern" class="jumbotron">Intern: NaN</div>
        </div>
        <div class="col-lg-3">
            <table id="vehicle_state" class="table table-striped"></table>
        </div>
        <div class="col-lg-6">
            <div id="mapid"></div>
        </div>
    </div>
{% endblock %}
